@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
/* For responsiveness */
@media(min-width:768px){
    .header-container{
        margin: 0px;
        background:linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1)), url('for-claudia.webp')no-repeat center;
        background-size: cover;
        height: 500px;
        position: relative;
        display: flex;
    }
    .section-container{
        display:flex;
        align-items:flex-start;
    }
}
#header-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.button{
    background-color: lightgray;
    border: 1px gray solid;
    border-radius:20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.section-container div{
    border:1px gray solid;
    padding:10px;
}
#main-content{
    flex:2;
    margin: 25px;
    margin-top:10px !important;
}
#side-box{
    flex:1;
    margin:10px;
}
#box-1{
    flex:1;
    margin:10px;
}

#box-2{
    flex:1;
    margin:10px;
}

#box-3{
    flex:1;
    margin:10px;
}

#box-4{
    flex:1;
    margin:10px;
}

