@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
/* For responsiveness */
@media(min-width:768px){
    .section-container{
        display:flex;
        align-items:flex-start;
    }
}
.section-container div{
    border:1px gray solid;
    padding:10px;
}
#main-content{
    flex:2;
}
#side-box{
    flex:1;
}
#box-1{
    flex:1;
}

#box-2{
    flex:1;
}

#box-3{
    flex:1;
}

#box-4{
    flex:1;
}

